body {
  margin: 3%;
  text-align: center;
  background-color: #2c2c2c;
  color: white;
  font: 14px/1.5em "Fira Code";
  font-feature-settings: "calt" 1;
  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility;
  /* Force ligatures for Webkit, Blink, Gecko */
}

h2 {
  color: yellow;
  font: 20px/1em "Fira Code";
  font-feature-settings: "calt" 1;
  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility;
  /* Force ligatures for Webkit, Blink, Gecko */
  font-weight: 700;
}

a {
  text-decoration: none;
  color: aqua;
}

.code {
  font-feature-settings: "calt" 1;
  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility;
  /* Force ligatures for Webkit, Blink, Gecko */
  width: 30em;
  margin: 5em auto;
  white-space: pre-wrap;
  word-break: break-all;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

i {
  font-style: normal;
}

b {
  font-weight: 700;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/woff2/FiraCode-Light.woff2") format("woff2"),
    url("../fonts/woff/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/woff2/FiraCode-Regular.woff2") format("woff2"),
    url("../fonts/woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/woff2/FiraCode-Medium.woff2") format("woff2"),
    url("../fonts/woff/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/woff2/FiraCode-SemiBold.woff2") format("woff2"),
    url("../fonts/woff/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/woff2/FiraCode-Bold.woff2") format("woff2"),
    url("../fonts/woff/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code VF";
  src: url("../fonts/woff2/FiraCode-VF.woff2") format("woff2-variations"),
    url("../fonts/woff/FiraCode-VF.woff") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
